
.background-photo{
    background-image: url(/static/images/firstattemptopac.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#about-site, #projects-site, #resume-site{
    background-color: rgba(53, 53, 53, 0.8);
    color: rgba(255, 255, 255, 1);

}

.material-icons{
    color: rgba(255, 255, 255, 1);
}


.landing-container{
    background-color: rgba(53, 53, 53, 0.6);
    width: 75vw;
    color: aliceblue;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 20px;
}

.landing-container > .row{
    margin-bottom: 0px;
}

#header-center{
    padding-top: 25px;
    font-size: 4rem;
    max-height: 5%;

}

html *{
    font-family:  'Montserrat', sans-serif;
}

.hr{
    border-top: 1px solid black;  
}

#project-main-body, #about-main-body{
    padding-top: 25px;
}
.header-font-left{
    font-size: 40px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.header-font-right{
    font-size: 40px;
    text-align: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.project-photo-size{
    width: auto;
    height: 322.5px;
}
.paragraphs{
    background-color: lightgray;
}
/* ABOUT PAGE -------------------------------------*/
.about-header-title{
    font-size: 3rem;
    padding-left: 0.3rem;
}
.about-padding{
    padding-left: 2rem;
    line-height: 1.8rem;
}
.about-padding-redux{
    padding-left: 3.5rem;
    line-height: 1.8rem;  
}
.about-closing-center{
   float: right;
}
#cute-puppy{
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: auto;
}
.case_studies_img{
    width: 250px;
    height: 200px;
    float: right;
}

.case_studies_img_center{
    width: 250px;
    height: 250px;
    float: center;
}


/* ABOUT PAGE -----------------------------------------*/
 .center-pdf, #favorite-image, .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
  #project-graphic-design,#project-web-development, #project-web-design{
      padding-top: 15px;
      padding-left: 5px;
      padding-right: 5px;
  }
/* .section-color{
    background-color: #AFC2D5;
} */
.project-header-color{
    color: black;
}


 .vertical-divider{
    margin-top: 1%;
    border-right: 4px solid grey;
    opacity: 75%;
    height: 90%; 
    position:absolute; 
    left: 50%; 
 }

figcaption{
    text-align: center;
}

.center-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 12%;
    max-height: 12%;
  }

.landing-text{
      font-size: 2rem;
  }

  
.cari-sizeup{
    height: 500px;
    width: 300px !important;
}
.cari-sizeup-hori{
    height: 300px;
    width: 500px !important;
}

.img_center{
    width: 55%;
    height: 60%px;
    float: center;
}

.github-link{
    height: 1em;
    width: auto;
    display: inline;
}

.link-white:visited, .link-white:link{
    color: whitesmoke;
    text-decoration: underline;
}

.link-white:visited:hover, .link-white:link:hover{
    color: whitesmoke;
    text-decoration: none;
}

.link-black:visited, .link-black:link{
    color: black;
    text-decoration: underline;
}

#index-banner{
    margin-top: 5vh;
}

.link-black:visited:hover, .link-black:link:hover{
    color: black;
    text-decoration: none;
}

.reduced-logo{
    position: relative;
    top: 6px;
    left: 5px;
    height: 100%;
    width: 6vw;

}

.reduced-logo > img {
    width: 100%;
    height: 100%;
}


/* MATERIAL ICON CSS START */
.material-icons.md-48{ 
    font-size: 48px;
}

.material-icons.md-dark{
    color: rgba(0, 0, 0, 0.54);
}

/* MATERIAL ICON CSS END */

/* #slideshow div{
    height: 100px;
    width: 100px;
} */

#slideshow{
    position: relative;
}

#slideshow div img{
    max-width:100%;
    height:auto;

}

.slick{
    width: auto;
    max-width: 400px;
    max-height: 400px;
    height: 400px;

}
.slick-prev{
    position: absolute;
    right: 100%;
    top: 20%;
    z-index: 1;

}
.slick-next{
    position: absolute;
    left: 100%;
    top: 20%;
    z-index: 1;

}


 #months{
     right: 1000px;
     background-color: rosybrown;
 }

 .portfolio-size{
     width: 250px; 
     height: auto;
 }

 .travel-words{
     margin-top: 4vh;
     border: 20px;
     border-style: solid;
     border-color:rgba(0,0,0,.25) ;
     border-radius: 10px;
 }

 .graphic-row{
     margin-top: 4vh;
 }

 #travel-2,#travel-3,#travel-4,#travel-5,#travel-6,#travel-7,#travel-8{
     display: none;
     position: relative;
 }

 #stationary-2,#stationary-3,#stationary-4,#stationary-5,#stationary-6{
    display: none;
    position: relative;
}

#logo-2{
    display: none;
}

.left-bar-gray{
    background-color: gray;
    width: 70vw;
    height: 2.7vw;
    top: 1%;
    left: -1%;
    position: absolute;
    z-index: -1;
    border-radius: 15px 75px 75px 5px;
}

.left-bar-white{
    background-color: whitesmoke;
    width: 17vw;
    height: 3vw;
    top: 7.8%;
    left: -.5%;
    position: absolute;
    z-index: -1;
    border-radius: 15px 75px 75px 5px;
}

.right-bar-gray{
    background-color: gray;
    width: 70vw;
    height: 2.7vw;
    top: 1.5%;
    right: -1%;
    position: absolute;
    z-index: -1;
    border-radius: 75px 15px 5px 75px;
}

.right-bar-white{
    background-color: whitesmoke;
    width: 17vw;
    height: 3vw;
    top: 7.8%;
    left: 75%;
    position: absolute;
    z-index: -1;
    border-radius: 75px 15px 5px 75px;
}

.title-relative{
    position: relative;
}

.svgimage{
    top: 1%;
    left: 1%;
    position: absolute;
    z-index: -1;
}

.graphic-title-left{
    padding-top: 1.5vh;
    padding-left: 1.2vw;
}

.graphic-title-right{
    padding-top: 1.5vh;
    padding-right: 1.2vw;
}

.small-slideshow{
    padding-top: 5vh;
}


.graphic-design-block-text li p{
    font-size: 1.2rem;
}

.divider-increase{
    border-color: rgba(0, 0, 0, 0.54) !important;
    border:2px solid;
    border-radius: 100px;

}

/* Styling for web dev and web design project containers */
.projects-container{
    border: 10px solid rgba(150, 150, 150, 0.8);
    background-color: rgba(250, 250, 250, 0.8);
    margin-bottom: 1vh;
    padding: 0.5rem;
    border-radius: 30px;
 
}

/* Title styling for for web dev and web design project containers */
.project-title-block{
    font-size: 1.5rem;
    font-weight: bold;

}

.project-date{
    float: right;
}

/* Styling for tag ROW for web dev and web design project containers */
.project-tag-block{
    margin-top: 10px;
    margin-bottom: 0 !important;
}

/* Styling for tags in tag row in project containers */

.project-tag img{
    /* object-fit: cover; */
    width: 100%;
    height: auto;
}
.project-switch{
    padding-top: 2.5vh;
    padding-bottom: 1vh;
}

.project-grid{
    display:grid;
    grid-template-columns: .2fr 5fr 1fr .2fr;
    grid-template-rows: 20px auto;
    gap: 1em;
    
    grid-template-areas: 
    "... .... ....... ..."
    "... main sidebar ..."
    "... .... ....... ...";
    
}

.project-column{
    grid-area: main;
    justify-self: start;
}

.project-search-column{
    grid-area: sidebar;
    padding-top: 4vh;
    border: solid 10px rgba(150, 150, 150, 0.8);
    border-radius: 10px;
    max-height: 70vh ;
    background-color: rgba(250, 250, 250, 0.8);
    
}

/* Signup and Login Grid */
.auth-grid{
    display:grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    grid-template-rows: 10vh auto 15vh;
    
    grid-template-areas: 
    "... .... ....... ..."
    "... left-side right-side ..."
    "... .... ....... ...";
    
}

.auth-left{
    grid-area: left-side;
    border: solid 3px rgba(108, 149, 226, 0.1);
    border-right: solid 2px rgba(214, 214, 214, 0.8);
    height: 70vh;
    width: 35vw;
    padding: 1%;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(170, 170, 170, 0.8);
    /* grid inside grid yo */
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: .7fr 1fr 1fr;
    grid-template-areas: 
    "... ... ..."
    "... contact ..."
    "... ... ...";
}

.contact-block{
    grid-area: contact;
    text-align: center;
    align-self: center;
    justify-self: center;

}

.auth-right{
    grid-area: right-side;
    border: solid 3px rgba(108, 149, 226, 0.1);
    border-left: none;
    height: 70vh;
    width: 35vw;
    padding: 1%;
    position: relative;
    border-radius: 0px 10px 10px 0px;
    background-color: rgba(250, 250, 250, 0.4);
        /* grid inside grid yo */
        display:grid;
        grid-template-columns: .1fr 1fr .1fr;
        grid-template-rows: .1fr 1fr .1fr;
        grid-template-areas: 
        "... title ..."
        "... info ..."
        "... questions ...";  
}

.info-block-title{
    grid-area: title;
    text-align: left;
}

.info-block{
    grid-area: info;
    text-align: center;
    align-self: center;

}

.auth-questions{
    grid-area: questions;
    padding-bottom: 10vh;
    align-self: center;
    display: flex;
    position: relative;
    font-size: 1.1rem;
}

.inline-icon{
    vertical-align: sub;
    padding-right: 0.1vw;
}

.input-field > label{
    color: black;
    font-size: 1.2rem;
}

.input-field > input{
    color: black;
    font-size: 1rem;
}

.input-field > ::placeholder{
    color: #C0C0C0;
    font-size: 1.2rem;
}

.btn-lowercase{
    text-transform: lowercase;
}

.btn-uppercase{
    text-transform: capitalize;
}

.login-button{
    margin-top: 2vh;
}

.divider-horizontal{
    margin-top: 10px;
    border-right: solid 1px rgba(150, 150, 150, 0.8);
}

.fixed-action-btn > ul >li {
    position: relative;
    right: .6vw;
    top: .8vw;
    
}

.fixed-action-btn > ul >li >.btn {
    width: 80px;
    text-align: center;
    padding: 0%;
    
}

.error-message{
    position: relative;
    border: solid 3px #808080;
    border-radius: 40px;
    font-size: 0.9rem;
    padding: 1px;
    height: 32px;
}

.child-clear {
    position: absolute;
    left: 102%;
    top: -5px;
    
}

.error-span{
    color: red !important;
}

.admin-grid{
    display: grid;
    grid-template-columns: 10vw auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar dashboard";
}

.sidebar{
    grid-area: sidebar;
    position: relative;
    background-color: #606060;
    width: 8vw;
    height: 100vh;
}

.dashboard{
    grid-area: dashboard;
}

.sidebar-links{
    border: 1px solid #808080;
    text-align: center;
    font-size: 1.2rem;
}

.sidebar-links > a{
    color: white;
}

.sidebar-links:hover{
    background-color: #808080;
    transition: all 0.3s ease;
}

.logout{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 8vw;
    color: white;
    border: 1px solid #808080;
    transition: all 0.3s ease;
}

.logout:hover{
    background-color: #808080;
}

.admin-tools-container{
    border: 1px solid #A0A0A0;
    border-radius: 10px;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 1vh;
    background-color: #F5F5F5;
}
.admin-tools-title{
    font-size: 1.3rem;
    border-bottom: 1px solid #A0A0A0;
    border-radius: 10px 10px 0px 0px;
    background-color: #BEBEBE;
    padding-left: 10px;
    padding: 5px 5px;
}

.admin-tools-text{
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 10px;
}

#category_post{
    margin-top: 5px;
}

#quick-post{
    margin-bottom: 0px !important;
}

form > .row{
    margin-bottom: 0px !important;
}

.submit-btn{
    margin-top: 20px;
}

#tag_block2,#tag_block3,#tag_block4,#tag_block5{
    visibility: hidden;
    display: none;
}

.tag-style{
    background-color: white !important;
    border: 1px solid #A9A9A9 !important;
}

#blurb {
    background-color: white;
    border: 1px solid #A9A9A9;
}

#blurb:focus{
    outline: none !important;
    border:1px solid #0099FF;
}

#title {
    background-color: white;
    border: 1px solid #A9A9A9;    
}

#title:focus{
    outline: none !important;
    border:1px solid #0099FF;
}

#alt-title{
    background-color: white;
    border: 1px solid #A9A9A9; 
}

#alt-title:focus{
    outline: none !important;
    border:1px solid #0099FF;
}

.admin-tools-text > form > textarea{
    resize: none;
    height: 15vh;
    background-color: white;
}

.quick-tools{
    margin-top: 5vh;
}

.preview-post{
    position: sticky;
    height: 50vh;
}

.auth-row{
    padding-left: 10%;

}

.right-table-divider{
    border-right: 1px solid #A0A0A0;
}

.background-white-0{
    background-color: white;
}

.background-white-1{
    background-color: #F8F8F8;
}

.one-two-grid{
    display: grid;
    margin-left: 1vw;
    margin-right: 1vw;
    gap: 1vw;
    grid-template-columns: auto auto;
}
.one-two-grid.home{
    grid-template-columns: 150px auto;
}

.one-three-grid {
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-style-home{
    word-wrap: break-word;
    overflow:hidden;
}

#landing-grid{
    grid-template-columns: auto auto auto;
    margin-top: 7vh;
    gap: 2vw;
    width: 75vw;
    color: rgba(255, 255, 255, 1);
    
}

.about-article, .resume-article, .projects-article{
    position: relative;
    justify-self: center;
    width: 20vw;
    background-color: rgba(53, 53, 53, 0.8);
    border: 1px solid rgba(255, 255, 255, .15);
    border-radius: 20px;
}

.divider.home{
    width: 95%;
    margin: auto;
    margin-bottom: 2vh;
    opacity: 0.75;
}

.resume-article, .about-article, .projects-article{
    height: 45vh;
}

.about-article > .divider, .resume-article > .divider, .projects-article > .divider, .row.center > .divider{
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.75;
}

.about-text, .resume-text{
    padding-left: 1vw;
    padding-right: 1vw;
}

.landing-btn{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    
}

.about-article > .landing-btn, .projects-article > .landing-btn, .resume-article > .landing-btn{
    bottom: 2vh;
}

.post-banner{
    width: 100%;
    background-color: rgba(220, 220, 220, 1);
    height: 5vh;
}


.grid-post{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(auto-fill, auto);
    gap: 1vh;
    grid-template-areas: 
    "title title title"
    "skills banner-image author"
    "date blurb ..."
    "post post post";
}

#grid-post-template{
    margin: auto;
    grid-template-columns: .5fr 1fr .5fr;
    width: 80vw;
    margin-top: 3vh;
}

.post-skills{
    background-color: rgba(209, 209, 209, 0.2);
    box-shadow: -5px 0px 5px rgba(182, 182, 182, 0.4);
    border-radius: 20px 20px 10px 10px;
    position: relative;
    left: -5.5vw;
    height: fit-content;
    padding-bottom: 1.5vh;
    width: fit-content;
}

.post-skills-wrapper{
    padding: 1vh;
    padding-left: 1.5vw;
}

.post-skills-title{
    font-size: 1.5rem;
}

.post-skill{
    padding-top: 1vh;
    padding-bottom: 0.5vh;
    margin-top: 5px;
    width: 6vw;

}

.post-banner-image{
    grid-area: banner-image;
    
}

.post-banner-image > figure > img{
    width: 1024px;
    height: 576px;
    margin: auto;
    display: block;
    box-shadow: 1px 1px 8px #888888;
}

.post-title{
    grid-area: title;
    position: relative;
    padding: 10px;
    z-index: -2;
    padding-left: 5vw;
    padding-right: 5vw;
    width: fit-content;
    max-width: 1145px;
    margin-left: 7vw;
    font-size: 1.75rem;
}

.post-triangle-bl{
width: 0;
height: 0;
border-style: solid;
border-width: 59px 0 0 59px;
border-color: transparent transparent transparent rgb(117,117,117);
position: absolute;
top: 0;
left: 0px;
z-index: -1;
}

.post-triangle-br{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent rgb(117,117,117) transparent;
    position: absolute;
    bottom: 0;
    right: 0px;
    z-index: -1;
}

.post-triangle-tr{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 50px 50px 0;
    border-color: transparent rgb(117,117,117) transparent transparent;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: -1;
    }


#post-links{
    grid-template-columns: auto 1fr 1fr;    

}


.post-author-container{
    padding: 1vh;
    padding-left: 1.5vw;
}

.post-author-title{
    font-size: 1.5rem;
}

.post-author-wrapper{
    grid-area: author;
    border: 1px solid rgba(220, 220, 220, .6);
    padding-top: 1vh;
    padding-left: 1vw;
    padding-bottom: 0.5vh;
    border-radius: 25px 5px 5px 25px;
    height: fit-content;
    position: sticky;
    top: 0px;
    z-index: 3;
    box-shadow: -1px 0px 2px #888888;
}

.post-date{
    grid-area: author;
    text-align: right;
    padding-top: 1.2vh;
    padding-right: 0.5vw;
    position: sticky;
    top: 0px;
    z-index: 3;
}

.post-blurb{
    grid-area:blurb;
    text-align: center;
    position: relative;
}

.post-blurb > .post-triangle-bl{
    border-width: 22px 0 0 22px;
    z-index: 1;
} 

.post-blurb > .post-triangle-br{
    border-width: 0 0 13px 13px;
    z-index: 1;
}

.post-blurb > .post-triangle-tr{
    border-width: 0 20px 20px 0;
    z-index: 1;
}


.post-content{
    padding-left: 1vw;
    padding-right: 1vw;
    grid-area: post;
    display: grid;
    position: relative;
    grid-template-rows: repeat(auto-fill, auto);
    gap: 20px;
}

.post-text{
    position: relative;
    padding-left: 5vw;
    padding-right: 5vw;
}

.post-image-container{
    width: auto;
    height: auto;
}

.post-image{
    width: 900px;
    height: 506px;
    box-shadow: 1px 1px 8px #888888;
}

.underlined{
    text-decoration: underline;
    color: rgba(220, 220, 220, 1);
}

#page-title{
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18vw;
}

.post-banner-divider{
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.54);
}

.figcaption{
    margin: auto;
    position: relative;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
}

.figcaption > .post-triangle-bl{
    border-width: 21px 0 0 21px;
    z-index: 1;
} 

.figcaption > .post-triangle-br{
    border-width: 0 0 13px 13px;
    z-index: 1;
}

.figcaption > .post-triangle-tr{
    border-width: 0 20px 20px 0;
    z-index: 1;
}

.forward{
    z-index: 2;
}

.nav-wrapper, .nav-extended{
    width: 100% !important;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #landing-grid{
        grid-template-columns: auto;
        row-gap: 10px;
        margin-top: 25px;
    }
    .about-article, .resume-article, .projects-article{
        width: 75vw;
    }
    .landing-container{
        width: 100vw;
    }
    .landing-container > .row{
        margin-bottom: 0px;
    }
    #header-center{
        padding-top: 10px;
        font-size: 2.5rem;
    
    }
}
