.background-photo{
    /* For Dev Server */
    background-image: url(/static/images/firstattemptopac.png);
    /* End for Dev Server */

    /* For Open Live Server */
    /* background-image: url(/jasonsite/static/images/firstattemptopac.png); */
    /* For Open Live Server */

    background-repeat: no-repeat;
    background-size: auto;
}

#about-site, #projects-site, #resume-site{
    background-color: rgba(53, 53, 53, 0.8);
    color: rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1)

}

.material-icons{
    color: rgba(255, 255, 255, 1);
}

.hidden-section{
    height: 0px;

}

/* to hide the button in the hidden section */
#projects-btn, #about-btn, #resume-btn{
    height: 0px;
    pointer-events: none;
    opacity: 0;
}

/* To unhide the div element */
#projects-site:hover .hidden-section, #about-site:hover .hidden-section, #resume-site:hover .hidden-section{
    /* display: block;
    transition-duration: 1s; */
    transition: height 0.3s linear;
    height: 80px;

}

/* to unhide the buttons in exposed hidden section */
#projects-site:hover #projects-btn, #about-site:hover #about-btn, #resume-site:hover #resume-btn{
    transition-duration: 0.15s;
    transition-delay: 0.2s;
    /* transition: height 2s linear; */
    pointer-events: auto;
    opacity: 1;
    height: auto;
}

.landing-container{
    background-color: rgba(53, 53, 53, 0.6);
    width: 100%;
    color: aliceblue;
}
#header-center{
    padding-top: 25px;
    font-size: 5rem;
    max-height: 5%;

}

html *{
    /* font-family:  'Montserrat', sans-serif; */
    font-family: 'Asap', sans-serif;
}

.hr{
    border-top: 1px solid black;  
}

#project-main-body, #about-main-body{
    padding-top: 25px;
}
.header-font-left{
    font-size: 40px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.header-font-right{
    font-size: 40px;
    text-align: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.project-photo-size{
    width: auto;
    height: 322.5px;
}
.paragraphs{
    background-color: lightgray;
}
/* ABOUT PAGE -------------------------------------*/
.about-header-title{
    font-size: 3rem;
    padding-left: 0.3rem;
}
.about-padding{
    padding-left: 2rem;
    line-height: 1.8rem;
}
.about-padding-redux{
    padding-left: 3.5rem;
    line-height: 1.8rem;  
}
.about-closing-center{
   float: right;
}
#cute-puppy{
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: auto;
}
.case_studies_img{
    width: 250px;
    height: 200px;
    float: right;
}

.case_studies_img_center{
    width: 250px;
    height: 250px;
    float: center;
}


/* ABOUT PAGE -----------------------------------------*/
 .center-pdf, #favorite-image, .center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
  }
  #project-graphic-design,#project-web-development, #project-web-design{
      padding-top: 15px;
      padding-left: 5px;
      padding-right: 5px;
  }
/* .section-color{
    background-color: #AFC2D5;
} */
.project-header-color{
    color: black;
}
/* .formstorming-color{
    background-color: rgba(255, 255, 255, 0.651);
} */

.formstorming-images-header{
    font-size: 50px;
}
.formstorming-header{
  font-size: 25px; 
  
}
.formstorming-paragraph{
    font-size: 16px;  
  }
.formstorming-padding{
    padding-left: 10px;
    padding-right: 10px;
}
.formstorming-div-margin{
    margin-bottom: 5px;
    margin-top: 10px;
}

.formstorming-color-scheme{
    background-color: rgb(217, 222, 247);
}
.formstorming-color-scheme-header{
    background-color: rgb(180, 185, 207);
}
.formstorming-color-scheme-paragraph{
    background-color: rgb(217, 222, 247);
}

.formstorming-color-scheme-alt{
    background-color: rgb(209, 224, 235);
}
.formstorming-color-scheme-header-alt{
    background-color: rgb(184, 197, 207);
}
.formstorming-color-scheme-paragraph-alt{
    background-color: rgb(209, 224, 235);
}
 #photoshop-body{
     margin-top: 10px;
     margin-bottom: 250px;
 }
 .photoshop-padding-top-only{
     padding-top: 45px;
 }

 .vertical-divider{
    margin-top: 1%;
    border-right: 4px solid grey;
    opacity: 75%;
    height: 90%; 
    position:absolute; 
    left: 50%; 
 }

figcaption{
    text-align: center;
}

.center-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 12%;
    max-height: 12%;
  }

.landing-text{
      font-size: 2rem;
  }

#navbar-image-logo{

    max-width: 25%;
    max-height: 25%;
    padding: 2%;


}

.cari-sizeup{
    height: 500px;
    width: 300px !important;
}
.cari-sizeup-hori{
    height: 300px;
    width: 500px !important;
}

.img_center{
    width: 55%;
    height: 60%px;
    float: center;
}

.github-link{
    height: 1em;
    width: auto;
    display: inline;
}

.link-white:visited, .link-white:link{
    color: whitesmoke;
}

.link-white:visited:hover, .link-white:link:hover{
    color: whitesmoke;
    text-decoration: underline;
}

.link-black:visited, .link-black:link{
    color: black;
}

.link-black:visited:hover, .link-black:link:hover{
    color: black;
    text-decoration: underline;
}

.reduced-logo{
    width: 25vw;
}