{% extends "index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{% endblock %}

{% block body %}
<page class="admin-grid">
    <aside class="sidebar">
        <section class="sidebar-links"><a href="">Title</a></section>
        <a href="{{ url_for('logout') }}" class="logout">Logout</a>
    </aside>
    <main class="dashboard">
        <div class="row">
            <section class="col s8">
                <h3>Dashboard</h3>
                <article class="admin-tools-container">
                    <div class="admin-tools-title">
                        Create a Quick Post
                    </div>
                    <div class="admin-tools-text" id="quick-post">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {{ post.hidden_tag() }}
                            {{ post.csrf_token }}
                            
                            {{ post.title.label() }}
                            {{ post.title(placeholder='Title for the post...') }}
                            {{ post.blurb.label() }}
                            {{ post.blurb(placeholder='Summary of the post...') }}
                            {{ post.post.label() }}
                            {{ post.post(placeholder="Quick Post...") }}
                            <div class="row">
                                <div class="input-field col s4">
                                    <div class="row">
                                        <div class="col s12">{{ post.post_image.label() }}</div>
                                        <div class="col s12">{{ post.post_image() }}</div>
                                        <div class="col s12">{{ post.alt_title.label() }}</div>
                                        <div class="col s12">{{ post.alt_title(placeholder='Accessibility description...', id="alt-title") }}</div>
                                    </div>
                                </div>
                                <div class="input-field col s8">
                                    <div class="row">
                                        <div class="col s12" id="category_post">
                                            {{ post.category_post.label }}
                                            {{ post.category_post }}
                                        </div>
                                        <div class="col s12" id="tag_block1">
                                            {{ post.tag1.label(for='tag1') }}
                                            {{ post.tag1(class="tag-style autocomplete_tags autocomplete", onfocus="unhideTag(this)") }}                                            
                                        </div>
                                        <div class="col s12" id="tag_block2">
                                            {{ post.tag2.label(for='tag2') }}
                                            {{ post.tag2(class="tag-style autocomplete_tags autocomplete", onfocus="unhideTag(this)") }}
                                        </div>
                                        <div class="col s12" id="tag_block3">
                                            {{ post.tag3.label(for='tag3') }}
                                            {{ post.tag3(class="tag-style autocomplete_tags autocomplete", onfocus="unhideTag(this)") }}
                                        </div>
                                        <div class="col s12" id="tag_block4">
                                            {{ post.tag4.label(for='tag4') }}
                                            {{ post.tag4(class="tag-style autocomplete_tags autocomplete", onfocus="unhideTag(this)") }}
                                        </div>
                                        <div class="col s12" id="tag_block5">
                                            {{ post.tag5.label(for='tag5') }}
                                            {{ post.tag5(class="tag-style autocomplete_tags autocomplete") }}
                                        </div>
                                            <div class="center-align col s12 submit-btn">{{ post.submit( class="btn-large waves-effect waves-light grey lighten-1 btn-lowercase", type="submit", value="Submit" ) }}</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
                <article class="admin-tools-container">
                    <div class="admin-tools-title">
                        Issues
                    </div>
                    <div class="admin-tools-text">
                        No Issues!
                        {% if post.errors %}
                            {{ post.errors }}
                        {% endif %}
                        <div class="container">
                            {% with messages = get_flashed_messages(category_filter=["error"]) %}
                                {% if messages %}
                                    <ul class=flashes>
                                    {% for message in messages %}
                                        <li class="error-message">
                                        <button class="child-clear btn-small btn-floating red">
                                        X
                                        </button>
                                        {{ message }}
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            {% endwith %}
                            </div>
                    </div>
                </article>
            </section>
            <section class="col s4 quick-tools">
                <h5>Quick View</h5>
                <article>
                    <div class="admin-tools-container">
                        <div class="admin-tools-title">
                            Latest Post
                        </div>
                        <div class="admin-tools-text">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Title</th>
                                        <th>Blurb</th>
                                    </tr>
                                </thead>
                                <tbody class="z-index-1">
                                    <tr>
                                        <td class="right-table-divider background-white-0">{{ latest_post.created_by.first_name }} {{ latest_post.created_by.last_name }}</td>
                                        <td class="right-table-divider background-white-1"><a href="{{ url_for('post', post_id=latest_post.post_id) }}">{{ latest_post.title }}</a></td>
                                        <td class="background-white-0">{{ latest_post.blurb }}</td>
                                        
                                    </tr>
                                </tbody>
                            </table>                           
                        </div>
                    </div>
                    <div class="admin-tools-container">
                        <div class="admin-tools-title">
                            Authorize Latest New User
                        </div>
                        <div class="admin-tools-text">
                            {% for quick_view in quick_view %}
                            <form method="POST" action="" id="new-user-form" onsubmit="resetInput()">
                                {{ admin_tool.hidden_tag() }}
                                    <div class="row auth-row">
                                        <div class="col s6 user">
                                            {{ quick_view.email }}
                                        </div>
                                    </div> 
                                {% endfor  %}
                                <div class="row">
                                    <div class="col s1"></div>
                                    <div class="col s7">
                                        {{ admin_tool.user(placeholder="Email@email.com", id="user_name", type="type") }}
                                    </div>
                                    <div class="col s4">
                                        {{ admin_tool.submit( class="btn waves-effect waves-light grey lighten-1 lowercase-btn", type="submit", value="Submit" ) }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
                <article>
                    <h6>Preview</h6>
                    <div class="admin-tools-container">
                        <div class="preview-post">

                        </div>
                    </div>
                </article>
            </section>
        </div>
    </main>
</page>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large grey darken-2">
    <i class="large material-icons">account_box</i>
    </a>
    <ul>
    {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('admin')}}" class="btn grey darken-3">Admin</a></li>
        <li><a href="{{ url_for('logout')}}" class="btn grey darken-3">Logout</a></li>
    {% else %}
        <li><a href="{{ url_for('login')}}" class="btn grey darken-3">Login</a></li>
        <li><a href="{{ url_for('signup')}}" class="btn grey darken-3">Signup</a></li>
    {% endif %}
    </ul>
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="/static/js/admin.js"></script>
{% endblock %}