{% extends "index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{% endblock %}

{% block body %}
<div class="container" style="background-color: olive;">
    Posting
</div>
<div class="container" style="background-color: royalblue;">
    Editing Changes
</div>
<div class="container" style="background-color: darkcyan;">
    Referral Access
</div>
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}