{% extends "projects_index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{{super()}}
{% endblock %}

{% block body %}
{{super()}}
<div class="center-align" style="background-color: red;">Under Construction</div>
<div class="containers" id="formstorming-div-padding">
    <div class="container center-align z-depth-1 formstorming-div-margin formstorming-color-scheme" id="images1-10">
    <section>
        <div class="formstorming-color">
            <div class="active">
                <div class="formstorming-header left-align formstorming-padding formstorming-color-scheme-header">Problem Statement</div>
                <div class="formstorming-paragraph left-align formstorming-padding formstorming-color-scheme-paragraph"><span>For our initial project, we were challenged to explore the creativity of our environment by 
                    limiting ourselves to a letter in the alphabet. My choice letter was the letter H.
                </span></div>
        </div>
        </div>
        <header class="center-align formstorming-images-header">Images 1-10</header>
        <div class="carousel">
            <a class="carousel-item"><img src="/static/images/formstorming/1-10/1.jpg"></a>
            <a class="carousel-item" ><img src="/static/images/formstorming/1-10/2.jpg"></a>
            <a class="carousel-item" ><img src="/static/images/formstorming/1-10/3.jpg"></a>
            <a class="carousel-item" ><img src="/static/images/formstorming/1-10/4.jpg"></a>
            <a class="carousel-item" ><img src="/static/images/formstorming/1-10/5.jpg"></a>
            <a class="carousel-item" ><img src="/static/images/formstorming/1-10/6.jpg"></a>
            <a class="carousel-item" ><img src="/static/images/formstorming/1-10/7.jpg"></a>
            <a class="carousel-item" ><img src="/static/images/formstorming/1-10/8.jpg"></a>
            <a class="carousel-item" ><img src="/static/images/formstorming/1-10/9.jpg"></a>
            <a class="carousel-item" ><img src="/static/images/formstorming/1-10/10.jpg"></a>         
        </div>
        <div class="formstorming-color" style="padding: 5px;">      
                <div class="formstorming-header left-align formstorming-padding formstorming-color-scheme-header">Reflection</div>
                <div class="formstorming-paragraph left-align formstorming-padding formstorming-color-scheme-paragraph"><p></p><span>The initial work on the pictures brought a lot of problems at first. For the first couple of days
                    that the project ran for. I had no idea how to begin or even what letter to choose. As you can see, the very first photo I took spoke to me. It was the
                    park benches at my local park. Looking at a side profile, I saw multiple H's and from there I kept seeing H's everywhere I walked. The next 9 photos came to me all in the same day.
                    It wasn't a problem at this point. But knowing that the next part of the project required that I take another 40 shots got me thinking that I needed to expand my
                    search on where I looked. 

                </span><p></p></div>
            
        </div>
        <div class="divider"></div>
    </section>  
    </div>
    <div class="container z-depth-1 formstorming-div-margin formstorming-color-scheme-alt" id="top3-images-11-50">
    <section>
        <header class="center-align formstorming-images-header">Top 3 From Images 11-50</header>
        <div class="carousel">
            <a class="carousel-item"><img src="/static/images/formstorming/11-50/50.jpg"></a> 
            <a class="carousel-item"><img src="/static/images/formstorming/11-50/34.jpg"></a>  
            <a class="carousel-item"><img src="/static/images/formstorming/11-50/13.jpg"></a>          
        </div>
        <div class="formstorming-color" style="padding: 5px;">      
            <div class="formstorming-header left-align formstorming-padding formstorming-color-scheme-header-alt">Course Correction</div>
            <div class="formstorming-paragraph left-align formstorming-padding formstorming-color-scheme-paragraph-alt"><p></p><span>The initial work on the pictures brought a lot of problems at first. For the first couple of days
                that the project ran for. I had no idea how to begin or even what letter to choose. As you can see, the very first photo I took spoke to me. It was the
                park benches at my local park. Looking at a side profile, I saw multiple H's and from there I kept seeing H's everywhere I walked. The next 9 photos came to me all in the same day.
                It wasn't a problem at this point. But knowing that the next part of the project required that I take another 40 shots got me thinking that I needed to expand my
                search on where I looked. 
            </span><p></p></div>  
        </div>
    </section>
    </div>
    <div class="container z-depth-1 formstorming-div-margin formstorming-color-scheme" id="bottom3-images-11-50">
    <section>
        <header class="center-align formstorming-images-header ">Bottom 3 From Images 11-50</header>
            <div class="carousel">
                <a class="carousel-item"><img src="/static/images/formstorming/11-50/21.jpg"></a> 
                <a class="carousel-item"><img src="/static/images/formstorming/11-50/22.jpg"></a>  
                <a class="carousel-item"><img src="/static/images/formstorming/11-50/18.jpg"></a>          
            </div>
            <div class="formstorming-color" style="padding: 5px;">      
                    <div class="formstorming-header left-align formstorming-padding formstorming-color-scheme-header">Learning from Mistakes</div>
                    <div class="formstorming-paragraph left-align formstorming-padding formstorming-color-scheme-paragraph"><p></p><span>The pictures I choose as the bottom 3 were in my opinion,
                        unoriginal and not really worth being part of the project as a whole. The problem with these photos is that they just are. There is nothing special about them and they 
                        would be obvious choices that one would take when limited in time.
                    </span><p></p></div>
                    <div class="formstorming-header left-align formstorming-padding formstorming-color-scheme-header">How To Improve</div>
                    <div class="formstorming-paragraph left-align formstorming-padding formstorming-color-scheme-paragraph"><p></p><span>I touched base with a possible solution
                        in my previous post. Some of the images that I personally don't feel like would be worthy in my overall projects. Were the photos that were taken when
                        the deadline was nearing. Whether it was due to my time mismanagement with other commitments or miscounting the total amount of photos I had. Given more time on
                        either my part or from the project constraints. I feel like I could've explored more interesting idea. 
                    </span><p></p></div>
                    <div class="formstorming-paragraph left-align formstorming-padding formstorming-color-scheme-paragraph"><p></p><span>For the photos I was proud of, they came around from
                        my walks with my dog. During these times, I had no other worry going on in my life. It was just a walk through a park, a trail, around my neighbourhood without
                        a care in the world. Except for my dog, who kept pulling me, making the photo taking process a challenge in itself.
                    </span><p></p></div>
                    <div class="formstorming-paragraph left-align formstorming-padding formstorming-color-scheme-paragraph"><p></p><span>Generally though, my best path towards taking photos
                        and for overcoming designers block. Was spending time with my dog. I ended up just walking around and taking photos of whatever came by. Taking my time to slow
                        down and really appreciate my environment. I guess through this exploration of my surroundings, it allowed me to see more than I would've had I just walked around
                        without aim.
                    </span><p></p></div>                    
            </div>
    </section>
    </div>
    <div class="container z-depth-1 formstorming-div-margin formstorming-color-scheme-alt" id="highlights-images-51-100">
    <section>
        <header class="center-align formstorming-images-header">Highlights From Images 51-100</header>
        <div class="carousel">
            <a class="carousel-item"><img src="/static/images/formstorming/51-100/97.jpg"></a> 
            <a class="carousel-item"><img src="/static/images/formstorming/51-100/72.jpg"></a>  
            <a class="carousel-item"><img src="/static/images/formstorming/51-100/54.jpg"></a> 
            <a class="carousel-item"><img src="/static/images/formstorming/51-100/62.jpg"></a>       
            <a class="carousel-item"><img src="/static/images/formstorming/51-100/88.jpg"></a>                
        </div>
        <div class="formstorming-color" style="padding: 5px;">      
            <div class="formstorming-header left-align formstorming-padding formstorming-color-scheme-header-alt">Couble Down</div>
            <div class="formstorming-paragraph left-align formstorming-padding formstorming-color-scheme-paragraph-alt"><p></p><span>For the final leg of the project, the requirement was
                to take 50 photos in a shorter time frame. I did feel the crunch as I was lacking 10 or so photos towards the night of the last day. It wasn't until the morning of the due date that
                I finished with taking my photos. Which didn't give me much time to edit and finalize the images for show and tell. My best practice in getting more photos that I was proud of
                was just to go explore. I wasn't a big fan of taking objects and "putting" them together and call it a letter. I personally feel like its not as creative as going out 
                and finding what the environment itself has to offer. 
            </span><p></p></div>  
        </div>
    </section>
    </div>
    <div class="container z-depth-1 formstorming-div-margin formstorming-color-scheme" id="conclusion">
    <section>
        <header class="center-align formstorming-images-header ">Conclusion</header>
            <img id="favorite-image" src="/static/images/formstorming/51-100/3.jpg" alt="MY FAVORITE IMAGE">
            <div class="formstorming-color" style="padding: 5px;">      
                    <div class="formstorming-header left-align formstorming-padding formstorming-color-scheme-header">My Favorite Image</div>
                    <div class="formstorming-paragraph left-align formstorming-padding formstorming-color-scheme-paragraph"><p></p><span>In a whole, I really enjoyed my first 10 pictures the
                        most. Out of the first 10 I really enjoyed taking the one shown above. Taking the photo required some thought from my ending. Its not something apparent unless if you
                        took the time to stop and focus on the different perspectives. 
                    </span><p></p></div>
                    <div class="formstorming-header left-align formstorming-padding formstorming-color-scheme-header">Overall Experience</div>
                    <div class="formstorming-paragraph left-align formstorming-padding formstorming-color-scheme-paragraph"><p></p><span>Towards the end  of the project, I was feeling the
                        stress of coming up with the 100 photos that were required. But I enjoyed spending time with my dog and figuring out new perspectives that can come to me given the time
                        invested if i just looked long enough. Also I feel like without my dog, many of my photos wouldn't have included many outdoor photos. For me this project was the perfect
                        excuse to take my dog out and explore.
                    </span><p></p></div>
                    <div class="formstorming-paragraph left-align formstorming-padding formstorming-color-scheme-paragraph"><p></p><span>All in all I would say that I was successful in achieving 
                        the goals I had for myself. Given a whole semester, I would've loved to expand on the idea and really double down on the constraints of the project. Understandably
                        though this class is about graphic design and not about taking photos of random letters in the wild. But as far as the presentation of the final pdf poster. I would've
                        given it more thought about the layout of the images in the overall structure of the images as a whole. Overall I did enjoy the project and learned a lot.
                    </span><p></p></div>                 
            </div>
    </section>
    </div>
    <div class="container" id="final-project">
    <h1 class="center-align">Final Project</h1>
    <iframe class="center-pdf" src="/static/images/formstorming/f_project.pdf" width="75%" height="900px"></iframe>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}