{% extends "index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{{super()}}
{% endblock %}

{% block body %}
<!-- Travel Poster -->
<div class="container title-relative">
    <div class="left-bar-gray z-depth-1"></div>
    <div class="left-bar-white z-depth-2"></div>
    <h4 class="graphic-title-left">Travel Poster</h4>
</div>
<div class="row graphic-row">
    <div class="col s1 m1 l1"></div>
    <div class="col s12 m12 l4" >
        <section id="slideshow" class="portfolio-size center-block" class="">
            <div class="slick-portfolio-travel">
                <img class="slideshow-img" src="/static/images/portfolio/source_byz_cover.png" alt="randomly chosen portfolio image: 1 ">
                <img class="slideshow-img" src="/static/images/portfolio/source_byz02.png" alt="randomly chosen portfolio image: 2 ">
                <img class="slideshow-img" src="/static/images/portfolio/source_byz03.png" alt="randomly chosen portfolio image: 3 ">
                <img class="slideshow-img" src="/static/images/portfolio/source_byz04.png" alt="randomly chosen portfolio image: 4 ">
                <img class="slideshow-img" src="/static/images/portfolio/source_byz05.png" alt="randomly chosen portfolio image: 5 ">
                <img class="slideshow-img" src="/static/images/portfolio/source_byz06.png" alt="randomly chosen portfolio image: 6 ">
                <img class="slideshow-img" src="/static/images/portfolio/source_byz07.png" alt="randomly chosen portfolio image: 7 ">
                <img class="slideshow-img" src="/static/images/portfolio/source_byz08.png" alt="randomly chosen portfolio image: 8 ">
            </div>
        </section>
    </div>

    <div class="col s12 m12 l4 travel-words center-align z-depth-2 " >
        <ul class="graphic-design-block-text">
            <li id="travel-1">
                <h5> Cover Page</h5>
                <div class="divider divider-increase"></div>
                <p>
                    The project was intended to showcase a famous figure in history. The cover was done in representation
                    of the two ruler Emperor justinian and Empress theodora. Important to note that the correct name of Byzantium was 
                    Eastern Roman Empire as they still considered themselves Roman.
                </p>
            </li>
            <li id="travel-2">
                <h5>Introduction</h5>
                <div class="divider divider-increase"></div>
                <p>
                    The pamphlet consisted of 8 pages, a front, back, and 6 content pages. One of the lessons learned from designing a pamphlet is the design and layout
                    can be applied to web page creation.
                </p>
            </li>
            <li id="travel-3">
                <h5>Page 2</h5>
                <div class="divider divider-increase"></div>
                <p>
                    Even simple pen and paper planning goes a long way in figuring out how the basic design of any project. An overarching style can be created
                    and applied to each page that unifies the whole experience.
                </p>
            </li>
            <li id="travel-4">
                <h5>Page 3</h5>
                <div class="divider divider-increase"></div>
                <p>
                    This pamphlet was created on InDesign. If you were in a rush a small 8 page pamphlet could easily be done without working knowing any 
                    of the advanced features InDesign has to offer. Thankfully learning how to use the master pages and applying styles makes the whole project a 
                    dynamic work instead of a static word page. 
                </p>
            </li>
            <li id="travel-5">
                <h5>Page 4</h5>
                <div class="divider divider-increase"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor placerat diam, sit amet feugiat metus venenatis sed. Morbi in dolor nunc. Sed dapibus turpis gravida, fringilla neque eget, mollis nisi. Aenean leo quam, blandit quis tempus ut, consequat id leo. Quisque id diam laoreet, imperdiet nulla nec, ultricies nunc. Duis enim purus, tempor sit amet ultricies pretium, convallis dapibus lectus. Proin finibus in nulla vitae convallis. Phasellus ac lacus ac turpis volutpat consectetur in nec elit. Sed at turpis volutpat, interdum velit vitae, aliquam urna. Pellentesque sed vulputate dui. Pellentesque viverra, nulla at accumsan interdum, odio elit ultrices leo, in varius neque dolor a orci. Maecenas congue, augue bibendum imperdiet luctus, odio est facilisis velit, sed faucibus felis orci non erat. Praesent quis scelerisque arcu, ac ultrices velit. Cras consectetur est pellentesque semper pulvina.

                </p>
            </li>
            <li id="travel-6">
                <h5>Page 5</h5>
                <div class="divider divider-increase"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor placerat diam, sit amet feugiat metus venenatis sed. Morbi in dolor nunc. Sed dapibus turpis gravida, fringilla neque eget, mollis nisi. Aenean leo quam, blandit quis tempus ut, consequat id leo. Quisque id diam laoreet, imperdiet nulla nec, ultricies nunc. Duis enim purus, tempor sit amet ultricies pretium, convallis dapibus lectus. Proin finibus in nulla vitae convallis. Phasellus ac lacus ac turpis volutpat consectetur in nec elit. Sed at turpis volutpat, interdum velit vitae, aliquam urna. Pellentesque sed vulputate dui. Pellentesque viverra, nulla at accumsan interdum, odio elit ultrices leo, in varius neque dolor a orci. Maecenas congue, augue bibendum imperdiet luctus, odio est facilisis velit, sed faucibus felis orci non erat. Praesent quis scelerisque arcu, ac ultrices velit. Cras consectetur est pellentesque semper pulvina.

                </p>
            </li>
            <li id="travel-7">
                <h5>Page 6</h5>
                <div class="divider divider-increase"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor placerat diam, sit amet feugiat metus venenatis sed. Morbi in dolor nunc. Sed dapibus turpis gravida, fringilla neque eget, mollis nisi. Aenean leo quam, blandit quis tempus ut, consequat id leo. Quisque id diam laoreet, imperdiet nulla nec, ultricies nunc. Duis enim purus, tempor sit amet ultricies pretium, convallis dapibus lectus. Proin finibus in nulla vitae convallis. Phasellus ac lacus ac turpis volutpat consectetur in nec elit. Sed at turpis volutpat, interdum velit vitae, aliquam urna. Pellentesque sed vulputate dui. Pellentesque viverra, nulla at accumsan interdum, odio elit ultrices leo, in varius neque dolor a orci. Maecenas congue, augue bibendum imperdiet luctus, odio est facilisis velit, sed faucibus felis orci non erat. Praesent quis scelerisque arcu, ac ultrices velit. Cras consectetur est pellentesque semper pulvina.

                </p>
            </li>
            <li id="travel-8">
                <h5>Back Page</h5>
                <div class="divider divider-increase"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor placerat diam, sit amet feugiat metus venenatis sed. Morbi in dolor nunc. Sed dapibus turpis gravida, fringilla neque eget, mollis nisi. Aenean leo quam, blandit quis tempus ut, consequat id leo. Quisque id diam laoreet, imperdiet nulla nec, ultricies nunc. Duis enim purus, tempor sit amet ultricies pretium, convallis dapibus lectus. Proin finibus in nulla vitae convallis. Phasellus ac lacus ac turpis volutpat consectetur in nec elit. Sed at turpis volutpat, interdum velit vitae, aliquam urna. Pellentesque sed vulputate dui. Pellentesque viverra, nulla at accumsan interdum, odio elit ultrices leo, in varius neque dolor a orci. Maecenas congue, augue bibendum imperdiet luctus, odio est facilisis velit, sed faucibus felis orci non erat. Praesent quis scelerisque arcu, ac ultrices velit. Cras consectetur est pellentesque semper pulvina.

                </p>
            </li>
        </ul>
    </div>
    <div class="col s3 m3 l3"></div>
</div>
<div class="divider"></div>

<!-- Stationary -->
<div class="right-align container title-relative">
    <h4 class="graphic-title-right">Stationary</h4>
    <div class="right-bar-gray z-depth-1"></div>
    <div class="right-bar-white z-depth-2"></div>
</div>
<div class="row graphic-row">
    <div class="col s12 m6 l2"></div>
    <div class="col s12 m6 l4 travel-words center-align z-depth-2" >
        <ul class="graphic-design-block-text">
            <li id="stationary-1">
                <h5>Cover Page</h5>
                <div class="divider divider-increase"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor placerat diam, sit amet feugiat metus venenatis sed. Morbi in dolor nunc. Sed dapibus turpis gravida, fringilla neque eget, mollis nisi. Aenean leo quam, blandit quis tempus ut, consequat id leo. Quisque id diam laoreet, imperdiet nulla nec, ultricies nunc. Duis enim purus, tempor sit amet ultricies pretium, convallis dapibus lectus. Proin finibus in nulla vitae convallis. Phasellus ac lacus ac turpis volutpat consectetur in nec elit. Sed at turpis volutpat, interdum velit vitae, aliquam urna. Pellentesque sed vulputate dui. Pellentesque viverra, nulla at accumsan interdum, odio elit ultrices leo, in varius neque dolor a orci. Maecenas congue, augue bibendum imperdiet luctus, odio est facilisis velit, sed faucibus felis orci non erat. Praesent quis scelerisque arcu, ac ultrices velit. Cras consectetur est pellentesque semper pulvina.

                </p>
            </li>
            <li id="stationary-2">
                <h5>Intro Page</h5>
                <div class="divider divider-increase"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor placerat diam, sit amet feugiat metus venenatis sed. Morbi in dolor nunc. Sed dapibus turpis gravida, fringilla neque eget, mollis nisi. Aenean leo quam, blandit quis tempus ut, consequat id leo. Quisque id diam laoreet, imperdiet nulla nec, ultricies nunc. Duis enim purus, tempor sit amet ultricies pretium, convallis dapibus lectus. Proin finibus in nulla vitae convallis. Phasellus ac lacus ac turpis volutpat consectetur in nec elit. Sed at turpis volutpat, interdum velit vitae, aliquam urna. Pellentesque sed vulputate dui. Pellentesque viverra, nulla at accumsan interdum, odio elit ultrices leo, in varius neque dolor a orci. Maecenas congue, augue bibendum imperdiet luctus, odio est facilisis velit, sed faucibus felis orci non erat. Praesent quis scelerisque arcu, ac ultrices velit. Cras consectetur est pellentesque semper pulvina.

                </p>
            </li>
            <li id="stationary-3">
                <h5>Page 2</h5>
                <div class="divider divider-increase"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor placerat diam, sit amet feugiat metus venenatis sed. Morbi in dolor nunc. Sed dapibus turpis gravida, fringilla neque eget, mollis nisi. Aenean leo quam, blandit quis tempus ut, consequat id leo. Quisque id diam laoreet, imperdiet nulla nec, ultricies nunc. Duis enim purus, tempor sit amet ultricies pretium, convallis dapibus lectus. Proin finibus in nulla vitae convallis. Phasellus ac lacus ac turpis volutpat consectetur in nec elit. Sed at turpis volutpat, interdum velit vitae, aliquam urna. Pellentesque sed vulputate dui. Pellentesque viverra, nulla at accumsan interdum, odio elit ultrices leo, in varius neque dolor a orci. Maecenas congue, augue bibendum imperdiet luctus, odio est facilisis velit, sed faucibus felis orci non erat. Praesent quis scelerisque arcu, ac ultrices velit. Cras consectetur est pellentesque semper pulvina.

                </p>
            </li>
            <li id="stationary-4">
                <h5>Page 3</h5>
                <div class="divider divider-increase"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor placerat diam, sit amet feugiat metus venenatis sed. Morbi in dolor nunc. Sed dapibus turpis gravida, fringilla neque eget, mollis nisi. Aenean leo quam, blandit quis tempus ut, consequat id leo. Quisque id diam laoreet, imperdiet nulla nec, ultricies nunc. Duis enim purus, tempor sit amet ultricies pretium, convallis dapibus lectus. Proin finibus in nulla vitae convallis. Phasellus ac lacus ac turpis volutpat consectetur in nec elit. Sed at turpis volutpat, interdum velit vitae, aliquam urna. Pellentesque sed vulputate dui. Pellentesque viverra, nulla at accumsan interdum, odio elit ultrices leo, in varius neque dolor a orci. Maecenas congue, augue bibendum imperdiet luctus, odio est facilisis velit, sed faucibus felis orci non erat. Praesent quis scelerisque arcu, ac ultrices velit. Cras consectetur est pellentesque semper pulvina.

                </p>
            </li>
            <li id="stationary-5">
                <h5>Page 4</h5>
                <div class="divider divider-increase"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor placerat diam, sit amet feugiat metus venenatis sed. Morbi in dolor nunc. Sed dapibus turpis gravida, fringilla neque eget, mollis nisi. Aenean leo quam, blandit quis tempus ut, consequat id leo. Quisque id diam laoreet, imperdiet nulla nec, ultricies nunc. Duis enim purus, tempor sit amet ultricies pretium, convallis dapibus lectus. Proin finibus in nulla vitae convallis. Phasellus ac lacus ac turpis volutpat consectetur in nec elit. Sed at turpis volutpat, interdum velit vitae, aliquam urna. Pellentesque sed vulputate dui. Pellentesque viverra, nulla at accumsan interdum, odio elit ultrices leo, in varius neque dolor a orci. Maecenas congue, augue bibendum imperdiet luctus, odio est facilisis velit, sed faucibus felis orci non erat. Praesent quis scelerisque arcu, ac ultrices velit. Cras consectetur est pellentesque semper pulvina.

                </p>
            </li>
            <li id="stationary-6">
                <h5>Page 5</h5>
                <div class="divider divider-increase"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor placerat diam, sit amet feugiat metus venenatis sed. Morbi in dolor nunc. Sed dapibus turpis gravida, fringilla neque eget, mollis nisi. Aenean leo quam, blandit quis tempus ut, consequat id leo. Quisque id diam laoreet, imperdiet nulla nec, ultricies nunc. Duis enim purus, tempor sit amet ultricies pretium, convallis dapibus lectus. Proin finibus in nulla vitae convallis. Phasellus ac lacus ac turpis volutpat consectetur in nec elit. Sed at turpis volutpat, interdum velit vitae, aliquam urna. Pellentesque sed vulputate dui. Pellentesque viverra, nulla at accumsan interdum, odio elit ultrices leo, in varius neque dolor a orci. Maecenas congue, augue bibendum imperdiet luctus, odio est facilisis velit, sed faucibus felis orci non erat. Praesent quis scelerisque arcu, ac ultrices velit. Cras consectetur est pellentesque semper pulvina.

                </p>
            </li>
        </ul>
    </div>
    <div class="col s6 m6 l5" >
        <section id="slideshow" class="portfolio-size center-block" >
            <div class="slick-portfolio-stationary">
                <img class="slideshow-img" src="/static/images/portfolio/stationary01.png" alt="randomly chosen portfolio image: 1 ">
                <img class="slideshow-img" src="/static/images/portfolio/stationary02.png" alt="randomly chosen portfolio image: 2 ">
                <img class="slideshow-img" src="/static/images/portfolio/stationary03.png" alt="randomly chosen portfolio image: 3 ">
                <img class="slideshow-img" src="/static/images/portfolio/stationary04.png" alt="randomly chosen portfolio image: 4 ">
                <img class="slideshow-img" src="/static/images/portfolio/engram_source.png" alt="randomly chosen portfolio image: 5 ">
                <img class="slideshow-img" src="/static/images/portfolio/engram_source_after.png" alt="randomly chosen portfolio image: 6 ">
            </div>
        </section>
    </div>
</div>
<div class="divider"></div>

<!-- Logo -->
<div class="container title-relative">
    <h4 class="graphic-title-left">Logo</h4>
    <div class="left-bar-gray z-depth-1"></div>
    <div class="left-bar-white z-depth-2"></div>
</div>
<div class="row graphic-row">
    <div class="col s1 m1 l1"></div>
    <div class="col s12 m12 l4" >
        <section id="slideshow" class="portfolio-size center-block small-slideshow" >
            <div class="slick-portfolio-logo">
                <img class="slideshow-img" src="/static/images/portfolio/source_logo.png" alt="randomly chosen portfolio image: 1 ">
                <img class="slideshow-img" src="/static/images/portfolio/alt_sitelogo.png" alt="randomly chosen portfolio image: 2 ">
            </div>
        </section></div>

        <div class="col s12 m12 l4 travel-words center-align z-depth-2 " >
        <ul class="graphic-design-block-text">
            <li id="logo-1">
                <h5>Cover Page</h5>
                <div class="divider divider-increase"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor placerat diam, sit amet feugiat metus venenatis sed. Morbi in dolor nunc. Sed dapibus turpis gravida, fringilla neque eget, mollis nisi. Aenean leo quam, blandit quis tempus ut, consequat id leo. Quisque id diam laoreet, imperdiet nulla nec, ultricies nunc. Duis enim purus, tempor sit amet ultricies pretium, convallis dapibus lectus. Proin finibus in nulla vitae convallis. Phasellus ac lacus ac turpis volutpat consectetur in nec elit. Sed at turpis volutpat, interdum velit vitae, aliquam urna. Pellentesque sed vulputate dui. Pellentesque viverra, nulla at accumsan interdum, odio elit ultrices leo, in varius neque dolor a orci. Maecenas congue, augue bibendum imperdiet luctus, odio est facilisis velit, sed faucibus felis orci non erat. Praesent quis scelerisque arcu, ac ultrices velit. Cras consectetur est pellentesque semper pulvina.

                </p>
            </li>
            <li id="logo-2">
                <h5>Intro Page</h5>
                <div class="divider divider-increase"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tempor placerat diam, sit amet feugiat metus venenatis sed. Morbi in dolor nunc. Sed dapibus turpis gravida, fringilla neque eget, mollis nisi. Aenean leo quam, blandit quis tempus ut, consequat id leo. Quisque id diam laoreet, imperdiet nulla nec, ultricies nunc. Duis enim purus, tempor sit amet ultricies pretium, convallis dapibus lectus. Proin finibus in nulla vitae convallis. Phasellus ac lacus ac turpis volutpat consectetur in nec elit. Sed at turpis volutpat, interdum velit vitae, aliquam urna. Pellentesque sed vulputate dui. Pellentesque viverra, nulla at accumsan interdum, odio elit ultrices leo, in varius neque dolor a orci. Maecenas congue, augue bibendum imperdiet luctus, odio est facilisis velit, sed faucibus felis orci non erat. Praesent quis scelerisque arcu, ac ultrices velit. Cras consectetur est pellentesque semper pulvina.

                </p>
            </li>
        </ul>
    </div>
    <div class="col s3 m3 l3"></div>
</div>
<div class="divider"></div>
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}