{% extends "projects_index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{{super()}}
{% endblock %}

{% block body %}
{{super()}}
<body style="background-color: whitesmoke;">
        <div class="row">
            <div class="col s1" ></div>
            <div class="vertical-divider col s1"></div>
    
            <section>
            <div class="container col s10" class="about-main-body">
                <br>
                <header class="about-header-title" >Historical Pamphlet</header>
                <div class="divider"></div>
                <h4 class="about-padding">Emperor Justinian & Empress Theodora</h4>
                <p class="about-padding-redux"> The historical pamphlet was my second favorite project, mostly because the subject matter that I chose. I wanted to focus on not one but
                    two imporant figures during the height of the Eastern Roman Empire. At first I thought about simply going with Emperor Justinian. Due to the accomplishments that he 
                    managed to bring. But none of it would be even have been possible for without his wife Theodora.
                </p>        
                <p class="about-padding-redux">
                    The biggest hurdle that I faced with this project was learning and planning in InDesign. Once I had laid down my pamphlets elements, to an untrained observer, the project
                    would've looked "ok". But there was a clear lack of planning. After learning a bit more on InDesign, using the master pages, using paragraph styles. I came back to the elements
                    and created a unified layout.
                </p>
                <p class="about-padding-redux">
                    There are some issues that I still have with the pamphlet, but with time and more expierence I'll come back and improve on it more. 
                </p>
                <div class="row">
                        <div class="carousel col s10 offset-s2 carousel-slider center z-depth-1" style="min-height: 500px;">
                                <a class="carousel-item" href="#one!"><img class="cari-sizeup" src="/static/images/historical_fig/source.png"></a>
                                <a class="carousel-item" href="#one!"><img class="cari-sizeup" src="/static/images/historical_fig/source2.png"></a>
                                <a class="carousel-item" href="#one!"><img class="cari-sizeup" src="/static/images/historical_fig/source3.png"></a>
                                <a class="carousel-item" href="#one!"><img class="cari-sizeup" src="/static/images/historical_fig/source4.png"></a> 
                                <a class="carousel-item" href="#one!"><img class="cari-sizeup" src="/static/images/historical_fig/source5.png"></a>
                                <a class="carousel-item" href="#one!"><img class="cari-sizeup" src="/static/images/historical_fig/source6.png"></a>
                                <a class="carousel-item" href="#one!"><img class="cari-sizeup" src="/static/images/historical_fig/source7.png"></a>
                                <a class="carousel-item" href="#one!"><img class="cari-sizeup" src="/static/images/historical_fig/source8.png"></a>                                                                                                              
                              </div>
                </div>
            
                </div>
            </section>
        </div>
    
    </body>    
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}