<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Import Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
    
        <!-- For Dev Server -->
        <!-- <link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css"> -->
        <!-- End for Dev Server -->
    
        
        <!-- For Open Live Server -->
        <link rel="stylesheet" type="text/css" href="/jasonsite/static/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="/jasonsite/static/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/jasonsite/static/css/mystyle.css">
        <!-- End for Open Live Server -->
    
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body class="background-photo">
  <div class="section no-pad-bot" id="index-banner">
    <div class="container landing-container">
      <br><br>
      <h1 class="header center" id="header-center">Jason Ponce</h1>
      <!-- <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div> -->
      <div class="row center">
        <p>Computer Science Major</p>
      </div>
      <br><br>

    </div>
  </div>
  <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m2" >
        </div>
        <div class="col s12 m2 z-depth-3" id="about-site">
          <!-- <div class="card"> -->
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons small">person_pin</i></h2>
            <h5 class="center">About</h5>
            <hr>
            <p class="light">Hello I'm jason blah blah blah.</p>
            <div class="section hidden-section" >
                <div class="container center-align"> 
                    <a class="waves-effect waves-light btn" id="about-btn" href="/about">button</a>
                </div>
            </div>
          </div>
        <!-- </div> -->
        </div>
        <div class="col s12 m1" >
          </div>
        <div class="col s12 m2 z-depth-3" id="projects-site">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons small">group</i></h2>
            <h5 class="center">Projects</h5>
            <hr>
            <p>Graphic Design</p>
            <p>Web Design</p>
            <p>Web Development</p>
          <div class="section hidden-section" >
              <div class="container center-align"> 
                  <a class="waves-effect waves-light btn" id="projects-btn" href="/projects">button</a>
              </div>
          </div>
          </div>
        </div>
        <div class="col s12 m1" >
          </div>

        <div class="col s12 m2 z-depth-3" id="resume-site">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons small">description</i></h2>
            <h5 class="center">Resume</h5>
            <hr>
            <h6 class="left-aligned">Highlights</h6>
            <p>School: Southern Connecticut State University </p>
            <p>Degree: Bachelor of Computer Science (ABET) </p>
            <p>Minor: Studio Arts</p>
            <p>Veteran: 8 Years of Military Service in the US Army</p>
            <div class="section hidden-section" >
                <div class="container center-align"> 
                    <a class="waves-effect waves-light btn" id="resume-btn" href="/resume">button</a>
                </div>
            </div>
          </div>
        </div>
        <div class="col s12 m2" >
          </div>
      </div>

    </div>
  


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- For Dev Server -->
<!-- <script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script> -->
<!-- End for Dev Server -->

<!-- For Open Live Server -->
<script src="/jasonsite/static/js/materialize.js"></script>
<script src="/jasonsite/static/js/init.js"></script>
<!-- End for Open Live Server -->
</body>
</html>
