<!DOCTYPE html>
<html lang="en">
    <head>
      {% block title %}
      <title>{{ title }}</title>
      {% endblock %}

        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Import Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Asap&display=swap" rel="stylesheet">
    
        <!-- For Dev Server -->
        <link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
        <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
        <!-- End for Dev Server -->

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% endblock %}
    </head>

{% block nav %}
<nav class="nav-extended grey darken-1">
    <div class="nav-wrapper">
        <!-- Logo Image, Shows on left side, hides on medium and small screens  -->
        <a href="{{ url_for('home') }}" class="brand-logo left reduced-logo hide-on-med-and-down">
            <img src="/static/logo_resized_white.png" alt="logo for website" id="navbar-image-logo">
        </a>
        <!-- Center Logo, href back to landing page -->
        <a href="{{ url_for('home') }}" class="brand-logo center">JasonPonce.Info</a>
        <!-- Links to major three sections of the webpage, hides on medium and small screens -->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('resume') }}">Resume</a></li>
        <li><a href="{{ url_for('projects') }}">Projects</a></li>
        </ul>
        <!-- Dashboard shows up when Logo Image, and Site Links disappear due to screen size -->
        <ul id="nav-mobile" class="right hide-on-large-only">
            <li class="hide-on-large-only"><a href="#" class="dropdown-trigger" data-target="nav-links">
                <i class="material-icons">
                    dashboard
                </i>
                </a>
            </li>
        </ul>

        <ul class="dropdown-content" id="nav-links">
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('resume') }}">Resume</a></li>
            <li><a href="{{ url_for('projects') }}">Projects</a></li>
        </ul>
    </div>
{% block dropdown %}
{% endblock dropdown %}
</nav>
{% endblock nav %}

{% block body %}
<body style="background-color: whitesmoke;">
    
</body>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>

{% endblock scripts %}