{% extends "index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{% endblock %}

{% block body %}
<div class="auth-grid">
    <div class="auth-left z-depth-1">
            <div class="contact-block">
                <h4>All users must be authenticated</h4>
                <h5>Email me at</h5>
                <a href="mailto:Jason.Ponce.Work@gmail.com?subject=Referral Code" class="link-black"><h6><i class="material-icons inline-icon">email</i>Jason.Ponce.Work@Gmail.com</h6></a>
            </div>
    </div>
    <div class="auth-right z-depth-1">
      <div class="info-block-title">
        <h5 class="">Login</h5>
      </div>
        <div class="info-block">
            <div class="row">
                <form class="col s12" method="POST" action="">
                  {{ form.hidden_tag() }}
                  <div class="row">
                    <div class="input-field col s12">
                      {{ form.email(placeholder="YourEmail@Someplace.com", id="email", type="email", class="validate" ) }}
                      {{ form.email.label( for="email") }}
                      {% if form.email.errors %}
                        {% for error in form.email.errors %}
                          <span class="helper-text left-align error-span"> {{error}} </span>
                        {% endfor %}
                      {% endif %}                      
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      {{ form.password( placeholder="hunterr2", id="password", type="password", class="validate" ) }}
                      {{ form.password.label( for="password" ) }}
                      {% if form.password.errors %}
                        {% for error in form.password.errors %}
                          <span class="helper-text left-align error-span"> {{error}} </span>
                        {% endfor %}
                      {% endif %}                      
                      <span class="helper-text left-align">minimum 8 characters</span>
                    </div>
                    <div class="col s6 login-button">
                        {{ form.submit( class="btn waves-effect waves-light grey lighten-1 lowercase-btn", type="submit", value="Submit") }}
                      </div>
                  </div>
                </form>
              </div>
              <div class="divider"></div>
        </div>
        <div class="row auth-questions">
          <div class="col s4 left-align">
            <p>Why can't I login?</p>
            <p>Authentication Error</p>
          </div>
          <div class="col s1 divider-horizontal"></div>
          <div class="col s7 left-align">
            <p>Did you forget your <a href="" class="link-black">Forget Password?</a></p>
            <p>All users must be authenticated by site admin.</p>
          </div>
      </div>
      <div class="container">
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
          {% if messages %}
            <ul class=flashes>
              {% for message in messages %}
                <li class="error-message">
                  <button class="child-clear btn-small btn-floating red">
                    X
                    </button>
                    {{ message }}
                  </li>
                
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        </div>
    </div>
</div>
{{super()}}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}