{% extends "projects_index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{{super()}}
{% endblock %}

{% block body %}
{{super()}}
<body style="background-color: whitesmoke;">
    <div class="row">
        <div class="col s1" ></div>
        <div class="vertical-divider col s1"></div>

        <section>
        <div class="container col s10" class="about-main-body">
            <br>
            <header class="about-header-title" >Logo</header>
            <div class="divider"></div>
            <p class="about-padding"> The logo project was given to us to try and design a logo for one of three potential companies. There was a fourth option which I choose. The fourth
                option was to choose ourselves and design a logo for our needs. I wanted to make a logo that I could incorporate into my website. What I wanted was a logo
                that I could showcase to potential employees and use as a project. 
            </p>
            <p class="about-padding">
                My ideas came from.
            </p>
            <p class="about-padding-redux">
                -Using "Full Stack" imagery
            </p>
            <p class="about-padding-redux">
                -Making it look "techy"
            </p>
            <p class="about-padding-redux">
                -A cool logo
            </p>            
            <br>
            <div class="row" >
                    <div class="container col s6">
                        <h4>First Logo</h4>
                        <p class="about-padding">The first logo that I designed came from influences from Digimon. I wanted to recreate a "digitizing" pattern that you would
                            see in the show. Add in a bunch of boxes for a full stack look and this is what we get.</p>
                        <p class="about-padding">
                            There were some other color variations that I messed around with. The first version had the boxes in the colors of the modern web developer. Like yellow based 
                            on the Javascript's logo.
                        </p>
                        </div>
                        <img class="col s6 " src="/static/images/logo/source-01.png" alt="monogram">
                </div>
            <div class="divider"></div>
            <br>
            <div class="row">
                <div>
                    <img class="col s6" src="/static/images/logo/source-02.png" alt="monogram">
                    <div class="container col s6">
                        <h4>Second Logo</h4>
                            <p class="bout-padding">My second logo was a continuation of the ideas that I had for my first logo. As I mentioned early, I used the colors
                                of modern web developer packages. Like CSS, Javascript, SQL, ect. It's not perfect and its my least favorite. It's a bit too simple.
                            </p>
                    </div>
                    </div>
                </div>
                <div class="divider"></div>
                <br>
                <div class="row">
                    <div class="container col s6">
                        <h4>Third Logo</h4>
                        <p class="about-padding">My third logo won in the end. You should've noticed by now. The idea behind this hits 2 out of the 3 points I wanted in my Logo
                            It has a techy feel, it looks cool, and the third point which is a stretch, it has some full stack imagery. My initals are combined
                            into a tag that one would write in HTML. 
                        </p>
                        <p class="about-padding">
                            The image is was mostly inspired by the Monteserrat font I had found in GoogleFont, but I added to it to make my own design.
                        </p>
                        </div>
                        <img class="col s6 " src="/static/images/logo/source-03.png" alt="monogram">
                </div>
            </div>
        </section>
    </div>

</body>   
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}