{% extends "projects_index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{{super()}}
{% endblock %}

{% block body %}
{{super()}}
<body style="background-color: whitesmoke;">
        <div class="row">
            <div class="col s1" >
            </div>
            <div class="vertical-divider col s1"></div>
            <div class="container col s10" class="about-main-body">
        <section>
            <header class="about-header-title about-padding-title" >Monogram</header>
            <div class="divider"></div>
            <section class="about-closing-center">
                    <header class="about-header-title"></header>
                    <figure>
                        <img class="case_studies_img" src="/static/images/monogram/source.png" alt="monogram">
                        <figcaption>Base Monogram </figcaption>
                    </figure>
                </section>
                <p class="about-padding">
                    The monogram project was at first a difficult project. It was the first time that I had worked with Illustrator, never mind the fact that I had barely a month of messing around
                    with the Adoboes Creative Cloud Suite of programs. Couple that with using the path tool to create the monogram. I felt much frustrations, but as you can see to your left, 
                    I came out ahead. My base monogram image is the "finished project". But, that wasn't the only part of the project. We were tasked on creating a set of stationary objects that
                    would use our logo. So I ended up changing my color and stroke lines. As seen below.
                </p>
                <br>
                <figure>
                    <div class="row">
                        <img class="case_studies_img_center col s4" src="/static/images/monogram/source_after.png" alt="monogram">
                    </div>
                        <div class="row">
                        <figcaption class="col s4">"Upgraded" Monogram </figcaption>
                    </div>
                    </figure>
                    <br>
        </section>
        <section>
            <header class="about-header-title">Stationary</header>
            <div class="divider"></div>
            <p>
                The next step in the project was incorporating the design into stationary objects. At the end of this project. I had felt as if I actually
                accomplished something tangible.
            </p>
            <div class="col s6 ">
                    <h4 class="header">Paper</h4>
                <div class="card horizontal">
                    <div class="card-image">
                    <img src="/static/images/monogram/stationary/source-01.png" class="materialboxed">
                    </div>
                    <div class="card-stacked">
                    <div class="card-content">
                        <p>This is the paper format of the stationary. I had fun with this one</p>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col s6 ">
                    <h4 class="header">Letter</h4>
                    <div class="card horizontal">
                        <div class="card-image">
                        <img src="/static/images/monogram/stationary/source-02.png" class="materialboxed">
                        </div>
                        <div class="card-stacked">
                        <div class="card-content">
                            <p>Thinking back, i'm not sure why I didn't do a front side of the letter. As you can see, this is the front side.</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col s5 ">
                        <h4 class="header">Front Business Card</h4>
                        <div class="card horizontal">
                            <div class="card-image">
                            <img src="/static/images/monogram/stationary/source-03.png" class="materialboxed">
                            </div>
                            <div class="card-stacked">
                            <div class="card-content">
                                <p>If Patrick Bateman used this, I would be so proud. </p>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s5 ">
                            <h4 class="header">Back Business Card</h4>
                            <div class="card horizontal">
                                <div class="card-image">
                                <img src="/static/images/monogram/stationary/source-04.png" class="materialboxed">
                                </div>
                                <div class="card-stacked">
                                <div class="card-content">
                                    <p>The back of the business card. I wanted to keep the blue color on the same side of the card. As if it wrapped around.</p>
                                </div>
                                </div>
                            </div>
                        </div>
        </section>
            </div>
        </div>
    </body>   
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}