{% extends "projects_index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{{super()}}
{% endblock %}

{% block body %}
{{super()}}
<body style="background-color: whitesmoke;">
        <div class="row">
            <div class="col s1" ></div>
            <div class="vertical-divider col s1"></div>
    
            <section>
            <div class="container col s10" class="about-main-body">
                <br>
                <header class="about-header-title" >Portfolio</header>
                <div class="divider"></div>
                <div class="row">
                        <div class="carousel col s10 offset-s2 carousel-slider center z-depth-1" style="min-height: 500px;">
                                <a class="carousel-item" href="#one!"><img class="cari-sizeup" src="/static/images/historical_fig/source.png"></a>
                                <a class="carousel-item" href="#two!"><img class="cari-sizeup" src="/static/images/historical_fig/source2.png"></a>
                                <a class="carousel-item" href="#three!"><img class="cari-sizeup" src="/static/images/historical_fig/source3.png"></a>
                                <a class="carousel-item" href="#four!"><img class="cari-sizeup" src="/static/images/historical_fig/source4.png"></a> 
                                <a class="carousel-item" href="#five!"><img class="cari-sizeup" src="/static/images/historical_fig/source5.png"></a>
                                <a class="carousel-item" href="#six!"><img class="cari-sizeup" src="/static/images/historical_fig/source6.png"></a>
                                <a class="carousel-item" href="#seven!"><img class="cari-sizeup" src="/static/images/historical_fig/source7.png"></a>
                                <a class="carousel-item" href="#eight!"><img class="cari-sizeup" src="/static/images/historical_fig/source8.png"></a> 
                                <a class="carousel-item"><img class="cari-sizeup" src="/static/images/formstorming/51-100/97.jpg"></a> 
                                <a class="carousel-item"><img class="cari-sizeup" src="/static/images/formstorming/51-100/72.jpg"></a>  
                                <a class="carousel-item"><img class="cari-sizeup" src="/static/images/formstorming/51-100/54.jpg"></a> 
                                <a class="carousel-item"><img class="cari-sizeup" src="/static/images/formstorming/51-100/62.jpg"></a>       
                                <a class="carousel-item"><img class="cari-sizeup" src="/static/images/formstorming/51-100/88.jpg"></a> 
                                <a class="carousel-item"><img class="cari-sizeup" src="/static/images/formstorming/f_project_pic.jpg"></a>   
                                <a class="carousel-item"><img class="cari-sizeup" src="/static/images/monogram/stationary/source-01.png"></a> 
                                <a class="carousel-item"><img class="cari-sizeup-hori" src="/static/images/monogram/stationary/source-02.png"></a> 
                                <a class="carousel-item"><img class="cari-sizeup-hori" src="/static/images/monogram/stationary/source-03.png"></a> 
                                <a class="carousel-item"><img class="cari-sizeup-hori" src="/static/images/monogram/stationary/source-04.png"></a>      
                                <a class="carousel-item"><img class="cari-sizeup-hori" src="/static/images/logo/source-01.png"></a>    
                                <a class="carousel-item"><img class="cari-sizeup-hori" src="/static/images/logo/source-02.png"></a>   
                                <a class="carousel-item"><img class="cari-sizeup-hori" src="/static/images/logo/source-03.png"></a>    
                                <a class="carousel-item" href="#one!"><img class="cari-sizeup" src="/static/images/travel_poster/source.jpg"></a>                                                                                                        
                              </div>
                </div>
            
                </div>
            </section>
        </div>
    
    </body>    
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}