{% extends "index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col s10">
            {{ post.title }}
        </div>
        <div class="col s2">
            {{ post.date_posted.strftime('%m/%Y') }}
        </div>
        <div class="col s12">
            {{ post.blurb }}
        </div>
        <div class="col s12" style="border: 5px solid black;">
            {{ post.post }}
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}