{% extends "projects_index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %} 

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{{super()}}
{% endblock %}

{% block body %}
{{super()}}
<div class="container" id="project-main-body">
    <section id="project-web-development" class="">
        <header class="header-font-left">
            <a href="{{ url_for('web_development') }}" class="project-header-color link-black">Web Development</a>
            <span style="float: right;"><img src="/static/images/logo/GitHub-Mark-64px.png" class="github-link" alt=""><a href="https://github.com/Jason-Ponce" class="link-black">Jason-Ponce</a></span>
        </header>
        <div class="row">
            <img class="project-photo-size col s4" src="/static/images/luis_gomes.jpg" alt="https://www.pexels.com/photo/blur-close-up-code-computer-546819/">
            <div class="col s8">
                <div class="divider"></div>
                <div class="row" style="background-color: white;">
                        <div class="card small col s4 z-depth-0">
                            <span class="card-title">JasonPonce.Info</span>
                            <div class="card-content">
                                <p>JasonPonce.Info is my personal website, it's based on Python for the backend, 
                                <a href="https://flask.palletsprojects.com/en/1.1.x/" class="link-black">Flask</a> a microweb framework, and 
                                <a href="https://materializecss.com/" class="link-black">MaterializeCSS</a> for the front end.</p>
                            </div>
                            <div class="card-action">
                                <img src="/static/images/logo/GitHub-Mark-64px.png" class="github-link" alt=""><a href="https://github.com/Jason-Ponce/personal-website" class="link-black"> Github Link</a>
                            </div>
                        </div>
                        <div class="card small col s4 z-depth-0">
                                <span class="card-title">HeroesDonate</span>
                                <div class="card-content">
                                    <p>HeroesDonate is a digital donation website that used
                                    <a href="https://ipfs.io/" class="link-black">IPFS</a> to publicly encrypt donations in a ledger. The 
                                    main goal was to let donors donate to organization that could utilize excess digital goods. 
                                    </p>
                                </div>
                                <div class="card-action">
                                    <img src="/static/images/logo/GitHub-Mark-64px.png" class="github-link" alt=""><a href="https://github.com/Jason-Ponce/HeroesDonatePackage" class="link-black"> Github Link</a>
                                </div>
                            </div>
                        <div class="card small col s4 z-depth-0">
                                <span class="card-title">The Connect</span>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <img src="/static/images/logo/GitHub-Mark-64px.png" class="github-link" alt=""><a href="https://github.com/Jason-Ponce/The-Connect" class="link-black"> Github Link</a>
                                </div>
                            </div>
                </div>
            <!-- <div class="divider"></div> -->
            <h5 class="right-align"><a href="{{ url_for('web_development') }}" class="project-header-color link-black">More Projects</a></h5>
            <!-- <ul>
                <li><i class="material-icons" style="vertical-align:middle">arrow_right</i><a href="https://github.com/Jason-Ponce/personal-website">JasonPonce.Info</a></li>
                <li><i class="material-icons" style="vertical-align:middle">arrow_right</i><a href="https://github.com/Jason-Ponce/HeroesDonatePackage">HeroesDonate</a></li>
                <li><i class="material-icons" style="vertical-align:middle">arrow_right</i><a href="https://github.com/Jason-Ponce/The-Connect">The Connect</a></li>
            </ul> -->
        </div>
    </section>                            
    <div class="divider"></div>
    <section id="project-web-design">
        <header class="header-font-right"><a href="{{ url_for('web_design') }}" class="project-header-color link-black">Web Design</a></header>
        <div class="row">
            <p class="col s8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, nemo quasi, ullam nulla nam error iusto a asperiores ut itaque doloribus dolor in dolorem explicabo odio eos aperiam possimus veniam!</p>
            <p class="col s8">Under Construction</p>
            <img class="project-photo-size col s4" src="/static/images/Tranmautritam.jpg" alt="https://www.pexels.com/photo/full-frame-shot-of-computer-326514/">
        </div>
    </section>
    <div class="divider"></div>
    <section id="project-graphic-design" class="">
            <header class="header-font-left "><a href="{{ url_for('graphic_design') }}" class="project-header-color link-black">Graphic Design</a></header>
            <div class="row">
                <img class="project-photo-size col s4" src="/static/images/Oleg_Magni3.jpg" alt="https://www.pexels.com/photo/gray-metal-cubes-decorative-1005644/">
                <ul class="collection with-header col s8 grey lighten-4 project-collection-padding">
                        <li class="collection-header grey lighten-4" href="#!"><h5>Art 215 Class Projects</h5></li>
                        <a class="collection-item grey lighten-4" href="{{ url_for('form_storming') }}">Formstorming</a>
                        <a class="collection-item grey lighten-4" href="{{ url_for('photoshop_experiments') }}">Photoshop Experiments</a>
                        <a class="collection-item grey lighten-4" href="{{ url_for('monogram') }}">Monogram</a>
                        <a class="collection-item grey lighten-4" href="{{ url_for('logo') }}">Logo</a>
                        <a class="collection-item grey lighten-4" href="{{ url_for('historical_fig') }}">Historical Figure</a>
                        <a class="collection-item grey lighten-4" href="{{ url_for('travel_poster') }}">Travel Poster</a>
                        <a class="collection-item grey lighten-4" href="{{ url_for('portfolio') }}">Portfolio</a>
                    </ul>
            </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}