{% extends "index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %} 

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{{super()}}
{% endblock %}

{% block body %}
{{super()}}
<!-- TODO redo css for more dynamic mobile interface---Low Priority--- -->
<div class="container" id="project-main-body">
    <!-- Sectioned off Web Development -->
    <section id="project-web-development" class="">
        <header class="header-font-left">
            <!-- URL for Web Dev to web dev projects -->
            <a href="{{ url_for('web_development') }}" class="project-header-color link-black">Web Development</a>
            <span style="float: right;"><img src="/static/images/logo/GitHub-Mark-64px.png" class="github-link" alt=""><a href="https://github.com/Jason-Ponce" class="link-black">Jason-Ponce</a></span>
        </header>
        <div class="row">
            <img class="project-photo-size col s4" src="/static/images/luis_gomes.jpg" alt="https://www.pexels.com/photo/blur-close-up-code-computer-546819/">
            <div class="col s8">
                <div class="divider"></div>
                <div class="row" style="background-color: white;">
                    <!-- TODO Redo the card system for projects, remove the "cards" and force a specific size for future CMS -->
                        <div class="card small col s4 z-depth-0">
                            <span class="card-title">JasonPonce.Info</span>
                            <div class="card-content">
                                <p>JasonPonce.Info is my personal website, it's based on Python for the backend, 
                                <a href="https://flask.palletsprojects.com/en/1.1.x/" class="link-black">Flask</a> a microweb framework, and 
                                <a href="https://materializecss.com/" class="link-black">MaterializeCSS</a> for the front end.</p>
                            </div>
                            <div class="card-action">
                                <img src="/static/images/logo/GitHub-Mark-64px.png" class="github-link" alt=""><a href="https://github.com/Jason-Ponce/personal-website" class="link-black"> Github Link</a>
                            </div>
                        </div>
                        <div class="card small col s4 z-depth-0">
                                <span class="card-title">HeroesDonate</span>
                                <div class="card-content">
                                    <p>HeroesDonate is a digital donation website that used
                                    <a href="https://ipfs.io/" class="link-black">IPFS</a> to publicly encrypt donations in a ledger. The 
                                    main goal was to let donors donate to organization that could utilize excess digital goods. 
                                    </p>
                                </div>
                                <div class="card-action">
                                    <img src="/static/images/logo/GitHub-Mark-64px.png" class="github-link" alt=""><a href="https://github.com/Jason-Ponce/HeroesDonatePackage" class="link-black"> Github Link</a>
                                </div>
                            </div>
                        <div class="card small col s4 z-depth-0">
                                <span class="card-title">The Connect</span>
                                <div class="card-content">
                                    <p>I am a very simple card. I am good at containing small bits of information.
                                    I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div class="card-action">
                                    <img src="/static/images/logo/GitHub-Mark-64px.png" class="github-link" alt=""><a href="https://github.com/Jason-Ponce/The-Connect" class="link-black"> Github Link</a>
                                </div>
                            </div>
                </div>
            <h5 class="right-align"><a href="{{ url_for('web_development') }}" class="project-header-color link-black">More Projects</a></h5>
        </div>
    </section>                            
    <div class="divider"></div>
    <!-- TODO change css for image, needs to shrink properly in mobile ---Low Priority--- -->
    <section id="project-web-design">
        <header class="header-font-right"><a href="{{ url_for('web_design') }}" class="project-header-color link-black">Web Design</a></header>
        <div class="row">
            <div class="row col s6">
                <p class="">
                    As a programmer, we're expected to pick up new languages on a fly. Leading to most programmers to be jack of all trades.
                    I am a firm believer as a front end developer that the coding and design of a website are of equal importance.  
                </p>
                <p>
                    These are the website design tools I will be using in creating mockups.
                </p>
                <li>Photoshop</li>
                <li>Adobe XD</li>
                <li>Figma</li>
                <br>
                <p>
                    <a href="{{ url_for('home') }}" class="link-black"><h6>Latest Article</h6></a>
                </p>
            </div>
            <img class="project-photo-size col s6" src="/static/images/Tranmautritam.jpg" alt="https://www.pexels.com/photo/full-frame-shot-of-computer-326514/">
        </div>
    </section>
    <div class="divider"></div>
    <!-- TODO add in removed graphic design art into a gallery/portfolio format ---Low Priority--- -->
    <section id="project-graphic-design" class="">
        <header class="header-font-left "><a href="{{ url_for('graphic_design') }}" class="project-header-color link-black">Graphic Design</a></header>
        <div class="row">
            <img class="project-photo-size col s4" src="/static/images/Oleg_Magni3.jpg" alt="https://www.pexels.com/photo/gray-metal-cubes-decorative-1005644/">
            <div class="col s8">
                <p>
                    As a supplement to my Computer Science degree, I worked towards earning a Minor in Studio Art. Throughout my time working on my 
                    minor. I worked with Adobe Illustrator, InDesign, and Photoshop. Below is a couple highlights of my portfolio.
                </p>
            
            <!-- TODO Add 3 Random Images from portfolio to appear here once database is implemented ---Medium Priority---  -->
            <div class="row">
                <section id="slideshow" class="col s10 offset-s2">
                <div class="slick">
                    <img class="slideshow-img" src="/static/images/portfolio/source_byz_cover.png" alt="randomly chosen portfolio image: 1 ">
                    <img class="slideshow-img" src="/static/images/portfolio/source_logo.png" alt="randomly chosen portfolio image: 2 ">
                    <img class="slideshow-img" src="/static/images/portfolio/source_travel.jpg" alt="randomly chosen portfolio image: 3 ">
                </div>
                </section>
            </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}