{% extends "index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{{super()}}
{% endblock %}


{% block body %}
<body style="background-color: whitesmoke;">
<div class="page-buttons center">
    <button class="waves-effect waves-light btn" id="previous-page">
        <i class="material-icons">navigate_before
        </i>
    </button>
    <button class="waves-effect waves-light btn" id="next-page">
        <i class="material-icons">navigate_next
        </i>
    </button>
    <span class="page-info left-align">
        <br>
        Page <span id="page-number"></span> of <span id="page-count"></span>
    </span>
    <a href="/static/docs/ponce_jason_resume.pdf" download="">Resume Download</a>
</div>
<div class="center">
<canvas id="pdf-render"></canvas>
</div>
</body>
{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>

<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script src="/static/js/pdf_code.js"></script>
{% endblock %}