{% extends "index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{% endblock %}

{% block body %}
<h1>Testing</h1>
<form action="" method="POST">
  {{ test.csrf_token }}
  {{ test.hidden_tag() }}
<div class="row">
  <div class="input-field">
    <div>
      {{ test.post_image.label() }}
      <span>
        {{ test.post_image }}
      </span>
    </div>
    {{ test.submit}}

    </div>
  </form>

  {% if test.errors %}
{{ test.errors }}
{% endif %}
{{super()}}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}