{% extends "projects_index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{{super()}}
{% endblock %}

{% block body %}
{{super()}}
<body style="background-color: whitesmoke;">
        <div class="row">
            <div class="col s1" ></div>
            <div class="vertical-divider col s1"></div>
    
            <section>
            <div class="container col s10" class="about-main-body">
                <br>
                <header class="about-header-title" >Travel Poster</header>
                <div class="divider"></div>
                <h4 class="about-padding">Dune</h4>
                <p class="about-padding-redux"> Definitely this last project was my favorite. When the class was given the project to choose a location for a destination
                    poster, my mind went wild. At first I wanted to create a recently blown up Alderaan with the Death Star in the background. Have asteroids floating around, maybe
                    a couple of Star Destroyers escorting the flagship. In the end my love for Dune won over.
                </p>
                <p class="about-padding-redux"> While Star Wars has many iconic locations, in my mind Dune holds the best iconic sci-fi location with the planet of Arrakis. A desert planet
                    filled with giant sand worms? Cool. But desert planet that people need to wear sweat suits to survive, a desert planet where the natives need to slide along the dunes with
                     rhythm akin to the said giant worm, a desert planet where natives ride those giant worms? Badass. The only reason people even show up on this planet is for the spice melange,
                     without it space travel would not be possible.
                </p>
                <p class="about-padding-redux">I would say my biggest problem with this project would be the path tools and "drawing" illustrations. I was never a good drawer and the path tools
                    further made that a problem. I also went through multiple color pallets as I couldn't find a sand color that looked good enough. 
                </p>
                <div class="row" >
                        <div class="container col s7 offset-s5">
                            <img class="img_center materialboxed" src="/static/images/travel_poster/source.jpg" alt="Dune Worm">

                    </div>
                </div>
                <br>
                <div class="divider"></div>
                <h4 class="about-padding">Dune (Text Version)</h4>
                <br>
                <div class="row" >
                        <div class="container col s7 offset-s5">
                            <img class="img_center materialboxed" src="/static/images/travel_poster/source_text.png" alt="Dune Worm">

                    </div>
                </div>
            </section>
        </div>
    
    </body>   
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}