{% extends "index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{{super()}}
{% endblock %}

{% block body %}
<div class="project-grid">
  <div class="project-column">
    <section>
      <div class="projects-container" >
        <h5 class="project-title-block">
          {{ project_title }}
          <span class="project-date">{{ project_date }}</span>
        </h5>
        <div class="project-text-block">
          <p>{{ project_text }}</p>
        </div>
        <div class="row project-tag-block">
          <!-- repeat image for language/program used with jinija2 -->
          <div class="col s4 m2 l1 project-tag">
            <img src='{{ project_pill }}' alt="Python language pill image">
          </div>
        </div>
      </div>
    </section>    
  </div>
  <div class="project-search-column z-depth-1">
    <div class="container">
      Search Bar
      <div class="divider"></div>
      <div class="switch project-switch">
        <label>
          <input type="checkbox">
          <span class="lever"></span>
          <span class="center-align">Adobe XD</span>
          
        </label>
      </div>
      <div class="switch project-switch">
        <label>
          <input type="checkbox">
          <span class="lever"></span>
          <span class="center-align">Figma</span>
        </label>
      </div>
      <div class="switch project-switch">
        <label>
          <input type="checkbox">
          <span class="lever"></span>
          <span class="center-align">Photshop</span>
        </label>
      </div>
      <div class="project-switch">More Filters</div>
      <div class="center-align">
        <div class="chips chips-autocomplete" ></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}