{% extends "index.html" %}

{% block title %}
{{super()}}
{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}


{% block dropdown %}
{{super()}}
{% endblock %}

{% block body %}
<!-- Section of web design articles -->
<div class="row left-middle-column">
  <section>
    <h4>
      Photoshop [Article Section]
    </h4>
      <div class="container projects-container" >
        <h5 class="project-title-block">
          JasonPonce.Info[Project Title]
          <span class="project-date">Date[Some Month]</span>
        </h5>
        <div class="project-text-block">
          <p>[Project Description blurb]</p>
          Chicken leberkas burgdoggen, beef ribs cupim strip steak spare ribs turducken. Shankle tail ball tip tenderloin bresaola picanha strip steak ham capicola pastrami meatball tongue. Spare ribs pig rump pork chop leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey lmignon corned beef boudin rump. Brisket leberkas pig short loin andouille, chicken flank filet mignon. Drumstick doner chicken frankfurter burgdoggen shankle kielbasa beef ribs pork chop landjaeger buffalo fatback.
        </div>
        <div class="row project-tag-block">
          <!-- repeat image for language/program used with jinija2 -->
          <div class="col s4 m2 l1 project-tag">
            <img src="/static/images/pills/svg/python_pills.svg" alt="Python language pill image">
          </div>
        </div>
      </div>
  </section>
  <section>
    <h4>
      [Article Section]
    </h4>
      <div class="container projects-container" >
        <h5 class="project-title-block">
          JasonPonce.Info[Project Title]
          <span class="project-date">Date[Some Month]</span>
        </h5>
        <div class="project-text-block">
          <p>[Project Description blurb]</p>
          Chicken leberkas burgdoggen, beef ribs cupim strip steak spare ribs turducken. Shankle tail ball tip tenderloin bresaola picanha strip steak ham capicola pastrami meatball tongue. Spare ribs pig rump pork chop leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey lmignon corned beef boudin rump. Brisket leberkas pig short loin andouille, chicken flank filet mignon. Drumstick doner chicken frankfurter burgdoggen shankle kielbasa beef ribs pork chop landjaeger buffalo fatback.
        </div>
        <div class="row project-tag-block">
          <!-- repeat image for language/program used with jinija2 -->
          <div class="col s4 m2 l1 project-tag">
            <img src="/static/images/pills/svg/python_pills.svg" alt="Python language pill image">
          </div>
        </div>
      </div>
  </section>
  <section>
    <h4>
      [Article Section]
    </h4>
      <div class="container projects-container" >
        <h5 class="project-title-block">
          JasonPonce.Info[Project Title]
          <span class="project-date">Date[Some Month]</span>
        </h5>
        <div class="project-text-block">
          <p>[Project Description blurb]</p>
          Chicken leberkas burgdoggen, beef ribs cupim strip steak spare ribs turducken. Shankle tail ball tip tenderloin bresaola picanha strip steak ham capicola pastrami meatball tongue. Spare ribs pig rump pork chop leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey leberkas turkey lmignon corned beef boudin rump. Brisket leberkas pig short loin andouille, chicken flank filet mignon. Drumstick doner chicken frankfurter burgdoggen shankle kielbasa beef ribs pork chop landjaeger buffalo fatback.
        </div>
        <div class="row project-tag-block">
          <!-- repeat image for language/program used with jinija2 -->
          <div class="col s4 m2 l1 project-tag">
            <img src="/static/images/pills/svg/python_pills.svg" alt="Python language pill image">
          </div>
        </div>
      </div>
  </section>
</div>
<!-- Section for Search Bar -->
<div class="search-bar">

</div>
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}